
/* task 1 - grund */
p {
    color: black;
    line-height: 1.5;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: red;
}

body {
    background-color: #f4f4f4;
}

/* task 2 - rubriker*/

h1 {
    color: #003366;
    text-align: center;
}

h2 {
    color: darkgreen;
    margin-bottom: 10px;
}

h3 {
    font-style: italic;
}

/* task 3 - listor */

ol, ul {
    border-style: solid;
    border-color: #ccc;
}

li {
    padding: 5px;
}